.App {
  text-align: center;
}

form{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  align-items: center;
  height: 330px;
}

.style{
  /* width: 50%; */
  display: flex;
  /* flex-direction: row; */
  width: auto;
}

.buttons{
  /* margin: 305px auto 0 auto; */
  display: flex;
  margin-top: 305px;
  justify-content: space-between;
}

.clear{
  margin-left: 20px;
}
